body {
    width: 100%; 
    height: 100%;
    margin: 0px;
    overflow: hidden;
    background:rgba(0, 128, 0, 0.8);
    position: fixed; 
}

.page {
    width: 100%; 
    height: 100%;
}

#user-gestures{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1000;
    opacity: 0.5;
    background: gray;
}

.setting {
    width: 10vmin;
    height: 10vmin; 
    background: linear-gradient(rgb(245, 222, 179), rgb(248, 199, 107));
    border: 2px solid rgb(216, 154, 40);
    border-radius: 10px;
    position: absolute;
    margin: 2vmin;
}

.setting:hover {
    background:linear-gradient(rgb(180, 164, 133), rgb(180, 143, 77))
}

.setting span{
    font-size: 7vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset {
    width: 10vmin;
    height: 10vmin; 
    background: linear-gradient(rgb(245, 222, 179), rgb(248, 199, 107));
    border: 2px solid rgb(216, 154, 40);
    border-radius: 10px;
    position: absolute;
    margin: 2vmin;
    right: 0;
}

.reset:hover {
    background:linear-gradient(rgb(180, 164, 133), rgb(180, 143, 77))
}

.reset span{
    font-size: 7vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result {
    width: 10vmin;
    height: 10vmin; 
    background: linear-gradient(rgb(245, 222, 179), rgb(248, 199, 107));
    border: 2px solid rgb(216, 154, 40);
    border-radius: 10px;
    position: absolute;
    margin: 2vmin;
    right: 0;
    top: calc(10vmin + 2vmin);
    display: none;
}

.result:hover {
    background:linear-gradient(rgb(180, 164, 133), rgb(180, 143, 77))
}

.result span{
    font-size: 7vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.multi {
    width: 10vmin;
    height: 10vmin; 
    background: linear-gradient(rgb(245, 222, 179), rgb(248, 199, 107));
    border: 2px solid rgb(216, 154, 40);
    border-radius: 10px;
    position: absolute;
    margin: 2vmin;
    right: calc(10vmin + 2vmin);
    top: 0;
}

.multi:hover {
    background:linear-gradient(rgb(180, 164, 133), rgb(180, 143, 77))
}

.multi span{
    font-size: 7vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background: linear-gradient(rgb(245, 222, 179), rgb(248, 199, 107));
    border: 2px solid rgb(216, 154, 40);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box.dealer {
    background: linear-gradient(rgb(240, 184, 80), rgb(249, 168, 17));
}

.top .box:active,
.bottom .box:active,
.left .box:active,
.right .box:active {
    border: 2px solid rgb(155, 143, 91);
    background:linear-gradient(rgb(180, 164, 133), rgb(180, 143, 77))
}

.outer {
    width: 100%;
    height: 100%;
}
.center {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.center .box {
    width: 40vw;
    height: 40vh;
}

.center .menu{
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 40vh;
    background: linear-gradient(rgb(235, 193, 116), rgb(244, 182, 68));
}

.center .menu.activated{
    display: flex;
}

.top .box {
    width: 25vh;
    height: 25vw;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.bottom .box {
    width: 25vh;
    height: 25vw;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.left .box {
    width: 25vw;
    height: 25vh;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0; 
    left: 0;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.right .box {
    width: 25vw;
    height: 25vh;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0; 
    right: 0;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.stick {
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255, 255, 255, 0);
    border-right: 2px solid rgba(128, 128, 128, 0);
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    width: 100%;
    height: 2vh;
    margin-top: 1vh;
    min-width: 20vw;
    transition: 1s;
}
.stick>div{
    background: rgba(255, 0, 0, 0);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transition: 1s;
}

.stick.activated {
    background:white;
    border-right: 2px solid darkgray;
    border-bottom: 2px solid gray;
    border-radius: 2px;
}

.stick.activated>div {
    background: red;
}

.discarder {
    display: flex;
    justify-content: space-between;
}

.box .detail {
    display: flex;
    flex-direction: column;
}

.top .box .detail {
    transform: rotate(180deg); 
}

.bottom .box .detail {
    transform: rotate(0deg); 
}

.left .box .detail {
    transform: rotate(90deg); 
}

.right .box .detail {
    transform: rotate(270deg); 
}

.center .detail {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.center .detail div{
    margin: 1vmin
}

.center span {
    font-size: 8vw;
}

.box .current.point {
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
}

.menu {
    transition: all 0.5s;
    background: linear-gradient(rgb(245, 222, 179), rgb(248, 199, 107));
    border: 2px solid rgb(216, 154, 40);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top .menu {
    width: 28vh;
    height: 74vw;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -75vw;
    overflow: hidden;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.bottom .menu {
    width: 28vh;
    height: 74vw;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: -75vw;
    overflow: hidden;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.left .menu {
    width: 74vw;
    height: 28vh;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0; 
    left: -75vw;
    overflow: hidden;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.right .menu {
    width: 74vw;
    height: 28vh;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0; 
    right: -75vw;
    overflow: hidden;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.center .menu {
    transition: none;
}

.menu .detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.top .box.red,
.top .sub.menu.red {
    border: 2px solid red;
    border-top: none;
}
.top .box.blue,
.top .sub.menu.blue {
    border: 2px solid blue;
    border-top: none;
}
.left .box.red,
.left .sub.menu.red {
    border: 2px solid red;
    border-left: none;
}
.left .box.blue,
.left .sub.menu.blue {
    border: 2px solid blue;
    border-left: none;
}
.bottom .box.red,
.bottom .sub.menu.red {
    border: 2px solid red;
    border-bottom: none;
}
.bottom .box.blue,
.bottom .sub.menu.blue {
    border: 2px solid blue;
    border-bottom: none;
}
.right .box.red,
.right .sub.menu.red {
    border: 2px solid red;
    border-right: none;
}
.right .box.blue,
.right .sub.menu.blue {
    border: 2px solid blue;
    border-right: none;
}

.sub.menu .detail {
    align-items: stretch;
}

.top .menu .detail {
    transform: rotate(180deg); 
}

.bottom .menu .detail {
    transform: rotate(0deg); 
}

.left .menu .detail {
    transform: rotate(90deg); 
}

.right .menu .detail {
    transform: rotate(270deg); 
}

.fu_value {
    height: 4vh;
}

.sub.menu span,
.sub.menu select {
    font-size: 2.5vh;
}

button {
    width: 22vh;
    height: 10vw;
    line-height: calc(10vw - 1vmin);
    margin: 1vmin;
    font-size: 3.4vh;
    background: white;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 5px;
    flex-wrap: nowrap;
}

.top .main.menu button:hover,
.bottom .main.menu button:hover,
.left .main.menu button:hover, 
.right .main.menu button:hover,
.confirm:hover,
.cancel:hover {
    background: gray;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons button {
    width: 9vh;
    height: 8vw;
    line-height: calc(8vw - 1vmin);
    font-size: 2.1vh;
}

.discarder button {
    width: 7.3vh;
    height: 6vw;
    line-height: calc(6vw - 1vmin);
    font-size: 1.7vh;
    display: none;
}

.discarder.activated button {
    display: flex;
    justify-content: center;
}

.center .menu button {
    width: 7.3vh;
    height: 6vw;
    line-height: calc(6vw - 1vmin);
    font-size: 1.7vh;
}

.center .menu .calling,
.center .menu .furo,
.center .menu .multi-ron{
    margin: 0;
}

.selected{
    background: yellowgreen;
}

.multi-ron.ron{
    background: deepskyblue;
}

.multi-ron.discard{
    background: coral;
}

.center .calling.top,
.center .furo.top,
.center .multi-ron.top  {
    position: absolute;
    top: 2vmin;
    transform: rotate(180deg);
}

.center .calling.bottom,
.center .furo.bottom,
.center .multi-ron.bottom {
    position: absolute;
    bottom: 2vmin;
}

.center .calling.left,
.center .furo.left,
.center .multi-ron.left {
    position: absolute;
    left: 0;
    transform: rotate(90deg);
}

.center .calling.right,
.center .furo.right,
.center .multi-ron.right {
    position: absolute;
    right: 0;
    transform: rotate(270deg);
}

.center .special {
    display: none;
    height: 6vw;
    line-height: calc(6vw - 1vmin);
    font-size: 1.7vh;
}

.top .menu.activated {
    top: 0;
}

.bottom .menu.activated {
    bottom: 0;
}

.left .menu.activated {
    left: 0;
}

.right .menu.activated {
    right: 0;
}

.box .name {
    font-size: 2vh;
    text-align: center;
}

.player-name {
    text-align: center;
    position: relative;
    font-size: 3vh;
    top: -0.75vh;
    font-weight: bold;
}

.changed.point {
    text-align: center;
    position: relative;
    font-size: 3vh;
    top: -0.75vh;
    font-weight: bold;
    display: none;
    transition: 1s;
}

.changed.point.positive {
    color: blue;
    display: block;
}

.changed.point.negative{
    color: red;
    display: block;
}

.changed.point.show{
    color: rgba(0, 0, 0, 0);
    display: block;
}

@media only screen and (orientation:landscape){
    .top .box,
    .bottom .box {
        width: 25vw;
        height: 25vh;
    }
    .left .box,
    .right .box {
        width: 25vh;
        height: 25vw;
    }
    .box .current.point {
        font-size: 4vw;
    }
    .top .menu,
    .bottom .menu {
        width: 28vw;
        height: 74vh;
    }
    .left .menu,
    .right .menu {
        width: 74vh;
        height: 28vw;
    }
    .top .menu{
        top: -75vh;
    }
    .bottom .menu {
        bottom: -75vh;
    }
    .left .menu {
        left: -75vh;
    }
    .right .menu {
        right: -75vh;
    }
    button {
        width: 22vw;
        height: 10vh;
        line-height: calc(10vh - 1vmin);
        font-size: 3.4vw;
    }
    .stick {
        margin-top: 1vw;
        width: 100%;
        height: 2vw;
        min-width: 20vh;
    }
    .buttons button {
        width: 9vw;
        height: 8vh;
        line-height: calc(8vh - 1vmin);
        margin: 1vh;
        font-size: 2.1vw;
    }
    .discarder button {
        width: 7.3vw;
        height: 6vh;
        line-height: calc(6vh - 1vmin);
        margin: 1vh;
        font-size: 1.7vw;
    }
    .sub.menu span,
    .sub.menu select {
        font-size: 2.5vw;
    }
    .center .menu button {
        width: 7.3vw;
        height: 6vh;
        line-height: calc(6vh - 1vmin);
        font-size: 1.7vw;
    }
    .center .special {
        display: none;
        height: 6vh;
        line-height: calc(6vh - 1vmin);
        font-size: 1.7vw;
    }
    .center span {
        font-size: 8vh;
    }
    .player-name,
    .changed.point {
        font-size: 3vw;
        top: -0.75vw;
    }

    .fu_value {
        height: 4vw;
    }
}

/* iphone X */
@media only screen and (device-width : 375px) and (device-height : 812px) {
    .top .box,
    .bottom .box{
        width: 24vh;
    }
    .left .box,
    .right .box {
        height: 24vh;
    }
    .top .menu,
    .bottom .menu {
        width: 24vh;
    }
    .left .menu,
    .right .menu {
        height: 24vh;
    }
    .discarder button {
        width: 6vh;
        font-size: 1.4vh;
    }
}
/* iphone X */
@media only screen and (device-width : 375px) and (device-height : 812px) and (orientation:landscape){
    .top .box,
    .bottom .box{
        width: 24vw;
    }
    .left .box,
    .right .box {
        height: 24vw;
    }
    .top .menu,
    .bottom .menu {
        width: 24vw;
    }
    .left .menu,
    .right .menu {
        height: 24vw;
    }
    .discarder button {
        width: 6vw;
        font-size: 1.4vw;
    }
}

/*dont show outline*/
* {
     -webkit-tap-highlight-color: transparent; 
}
/*disable select*/
body {
    -webkit-user-select: none; 
    -webkit-touch-callout: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}